In [1]:
import pandas as pd
import numpy as np

In [2]:
am=pd.read_csv('/content/drive/MyDrive/M_Tr_frame.csv')
am

KeyboardInterrupt: ignored

In [ ]:
am.rename(columns={"Unnamed: 0": "ID"}, inplace=True)

In [ ]:
am

,ID,C0019209,C0036341,C0002395,C0007102,C0009375,C0011265,C0011570,C0011581,C0019202,...,C2936879,C2936880,C2676732,C2750473,C0796021,C1846059,C1859452,C4319565,C3888208,C2931662
0,C0019209,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,C0036341,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,C0002395,0.0,36.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,C0007102,1.0,34.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,C0009375,1.0,34.0,12.0,143.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10199,C1846059,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
10200,C1859452,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
10201,C4319565,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0
10202,C3888208,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10203,C2931662,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
am.set_index("ID",inplace=True)

In [ ]:
am

,C0019209,C0036341,C0002395,C0007102,C0009375,C0011265,C0011570,C0011581,C0019202,C0022660,...,C2936879,C2936880,C2676732,C2750473,C0796021,C1846059,C1859452,C4319565,C3888208,C2931662
ID,,,,,,,,,,,,,,,,,,,,,
C0019209,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
C0036341,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
C0002395,0.0,36.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
C0007102,1.0,34.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
C0009375,1.0,34.0,12.0,143.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
C1846059,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
C1859452,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
C4319565,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0
C3888208,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
C2931662,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
array1=am.to_numpy()
type(array1)
np.fill_diagonal(array1, np.nan)

In [ ]:
array1

array([[nan,  0.,  0., ...,  0.,  0.,  0.],
       [ 4., nan,  0., ...,  0.,  0.,  0.],
       [ 0., 36., nan, ...,  0.,  0.,  0.],
       ...,
       [ 0.,  0.,  0., ..., nan,  0.,  0.],
       [ 0.,  0.,  0., ...,  0., nan,  0.],
       [ 0.,  0.,  0., ...,  0.,  0., nan]])

In [ ]:
nd=list(nodes["Id"])

In [ ]:
M_TR=pd.DataFrame(array1,index=nd,columns=nd)
M_TR

,0,1,2,3,4,5,6,7,8,9,...,10194,10195,10196,10197,10198,10199,10200,10201,10202,10203
0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,4.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,36.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,34.0,12.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,34.0,12.0,143.0,NaN,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10199,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,NaN,0.0,0.0,0.0,0.0
10200,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,NaN,0.0,0.0,0.0
10201,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,NaN,0.0,0.0
10202,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0
10203,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [ ]:
m=M_TR.stack().reset_index()

In [ ]:
m

           level_0  level_1    0
0                0        1  0.0
1                0        2  0.0
2                0        3  0.0
3                0        4  0.0
4                0        5  0.0
...            ...      ...  ...
104111407    10203    10198  0.0
104111408    10203    10199  0.0
104111409    10203    10200  0.0
104111410    10203    10201  0.0
104111411    10203    10202  0.0

[104111412 rows x 3 columns]

In [ ]:
m.rename(columns={0: "wieght"}, inplace=True)

In [ ]:
m

           level_0  level_1  wieght
0                0        1     0.0
1                0        2     0.0
2                0        3     0.0
3                0        4     0.0
4                0        5     0.0
...            ...      ...     ...
104111407    10203    10198     0.0
104111408    10203    10199     0.0
104111409    10203    10200     0.0
104111410    10203    10201     0.0
104111411    10203    10202     0.0

[104111412 rows x 3 columns]

In [ ]:
df2 = m.loc[m["wieght"] >0]

In [ ]:
df2

           level_0  level_1  wieght
10203            1        0     4.0
20407            2        1    36.0
30609            3        0     1.0
30610            3        1    34.0
30611            3        2    12.0
...            ...      ...     ...
104101666    10203      457     1.0
104101747    10203      538     1.0
104102122    10203      913     1.0
104103846    10203     2637     1.0
104104347    10203     3138     1.0

[751068 rows x 3 columns]

In [ ]:
nodes=pd.DataFrame(am.columns)

In [ ]:
nodes.reset_index(inplace=True)

In [ ]:
nodes.rename(columns={"index": "Id", 0 :"label"}, inplace=True)
nodes

          Id     label
0          0  C0019209
1          1  C0036341
2          2  C0002395
3          3  C0007102
4          4  C0009375
...      ...       ...
10199  10199  C1846059
10200  10200  C1859452
10201  10201  C4319565
10202  10202  C3888208
10203  10203  C2931662

[10204 rows x 2 columns]

In [ ]:
df2.rename(columns={"level_0": "source", "level_1" :"target"}, inplace=True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [ ]:
df2

           source  target  wieght
10203           1       0     4.0
20407           2       1    36.0
30609           3       0     1.0
30610           3       1    34.0
30611           3       2    12.0
...           ...     ...     ...
104101666   10203     457     1.0
104101747   10203     538     1.0
104102122   10203     913     1.0
104103846   10203    2637     1.0
104104347   10203    3138     1.0

[751068 rows x 3 columns]

In [ ]:
df2.to_csv('/content/drive/MyDrive/final_edges.csv',index=False)

In [ ]:
nodes.to_csv('/content/drive/MyDrive/final_nodes.csv',index=False)